.container{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 10px;
    border-radius: 16px;
    background: linear-gradient(45deg, rgba(3,3,3,1) 0%, rgba(40,38,38,1) 100%);
    color: white;
    border: 1px solid #777777;
}
.container-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
}